@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", monospace;
    background-color: #006d77;
    color: #f8f8f8;
}

header {
    text-align: center;
    margin: 10px 0;
}

header img {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 65px;
    height: 65px;
    border-radius: 8px; /* Modified*/
    overflow:hidden;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 15px auto;
}

.styled-table {
    border-collapse: collapse;
    /* margin: 20px 0; */
    font-size: 0.7em;
    /* font-family: sans-serif; */
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    
}
.styled-table thead tr th {
    font-size: 1.5em;
    text-align: center;
}


.styled-table th,
.styled-table td {
    padding: 8px 12px;
    
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.cinza {
    background-color: #dddddd;
}

.amarelo {
    background-color: gold;
    color: #444;
}

.branco {
    background-color: #fff;
    color: #222;
}

.cor_1 {
    background-color: #3D405B;
    color: #f8f8f8;
}

.cor_2 {
    background-color: #E07A5F;
    color: #ffffff;
}

.cor_3 {
    background-color: #118ab2;
    color: #ffffff;
}

.cor_4 {
    background-color: #006d77;
    color: #ffffff;
}

.cor_5 {
    background-color: #ee9b00;
    color: #ffffff;
}

.cor_6 {
    background-color: #e71d36;
    color: #ffffff;
}

.reunioes {
    background-color: #000;
    color: #ffffff;
}

ul {
    width: 400px;
    background-color: #f8f8f8;
    padding: 10px;
}

ul li {
    padding: 8px;
    font-size: 0.8em;
    list-style: none;
}

.center {
    text-align: center;
}

hr {
    margin: 20px 0;
}

h2 {
    margin: 15px 0 5px 0;
}

/* header img:hover {
    transform: translate(-50%, -50%) scale(5);
} */