@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", monospace;
    font-size: 86.5%;
}

body {
    background-color: #006d77;
    color: #f8f8f8;
    font-size: 0.9rem;
}

header {
    text-align: center;
    margin: 10px 0;
}

header img {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 65px;
    height: 65px;
    border-radius: 8px; /* Modified*/
    overflow:hidden;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 15px auto;
}

.styled-table {
    border-collapse: collapse;
    /* margin: 20px 0; */
    /* font-size: 0.9rem; */
    /* font-family: sans-serif; */
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    
}
.styled-table thead tr th {
    font-size: 1.2rem;
    text-align: center;
}

.styled-table tr td {
    font-size: 0.8rem;
}


.styled-table th,
.styled-table td {
    padding: 8px 12px;
    
}

.cinza {
    background-color: #dddddd;
}

.amarelo {
    background-color: gold;
    color: #444;
}

.branco {
    background-color: #fff;
    color: #222;
}

.cor_1 {
    background-color: #004D0F;
    color: #f8f8f8;
}

.cor_2 {
    background-color: #430F99;
    color: #ffffff;
}

.cor_3 {
    background-color: #073885;
    color: #ffffff;
}

.cor_4 {
    background-color: #078549;
    color: #ffffff;
}

.cor_5 {
    background-color: #07608F;
    color: #ffffff;
}

.cor_6 {
    background-color: #e71d36;
    color: #ffffff;
}

.reunioes {
    background-color: #000;
    color: #ffffff;
}

ul {
    max-width: 400px;
    background-color: #f8f8f8;
    padding: 10px;
}

ul li {
    padding: 8px;
    font-size: 0.8em;
    list-style: none;
}

.center {
    text-align: center;
}

hr {
    margin: 20px 0;
}

h2 {
    margin: 15px 0 5px 0;
}

.badge {
    padding: 4px 8px; /* pixel unit */
    border-radius: 4px;
    text-align: center;
    background: #C7AC00;
    color: #222;
    float: right;
    font-family: Courier, monospace;
    font-weight: bold;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 0.8rem;
    }

    .styled-table th,
    .styled-table td {
        padding: 4px 8px;
    }

    header img {
        display: none;
    }

    /* .badge { */
        /* float: none;
        display: flex; */
    /* } */
}

