@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

:root {
    --bg-1: #003049;
    --bg-2: #0FC2C0;
    --bg-3: #0CABA8;
    --bg-4: #078549;
    --bg-5: #008F8C;
    --bg-6: #015958;
    --bg-7: #023535;
    --branco: #f8f8f8;
    --preto: #000;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", monospace;
    font-size: 86.5%;
}

body {
    /* background-color: #006d77; */
    background-color: #fff;
    color: #222;
    font-size: 1rem;
}

header {
    text-align: center;
    background-color: #f8f8f8;
    color: #222;
    padding: 5px 0;
}

header img {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 65px;
    height: 65px;
    border-radius: 8px; /* Modified*/
    overflow:hidden;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 5px auto;
}

.styled-table {
    border-collapse: collapse;
    /* margin: 20px 0; */
    /* font-size: 0.9rem; */
    /* font-family: sans-serif; */
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
}

.styled-table thead tr {
    background-color: #125B50;
    color: #ffffff;
    text-align: left;
    
}
.styled-table thead tr th {
    font-size: 1.2rem;
    text-align: center;
}

.styled-table tr td {
    font-size: 0.9rem;
}


.styled-table th,
.styled-table td {
    padding: 8px 12px;
    
}

.cinza {
    background-color: #dddddd;
}

.amarelo {
    background-color: gold;
    color: #444;
}

.branco {
    background-color: #fff;
    color: #222;
}

.cor_1 {
    background-color: var(--bg-1);
    color: var(--branco);
}

.cor_2 {
    background-color: var(--bg-2);
    color: var(--branco);
}

.cor_3 {
    background-color: var(--bg-3);
    color: var(--branco);
}

.cor_4 {
    background-color: var(--bg-4);
    color: var(--branco);
}

.cor_5 {
    background-color: var(--bg-5);
    color: var(--branco);
}

.cor_6 {
    background-color: var(--bg-6);
    color: var(--branco);
}

.cor_7 {
    background-color: var(--bg-7);
    color: var(--branco);
}

.reunioes {
    background-color: #000;
    color: var(--branco);
}

ul {
    /* max-width: 400px; */
    background-color: #ddd;
    padding: 5px;
}

ul li {
    padding: 8px;
    font-size: 0.9em;
    list-style: none;
}

.center {
    text-align: center;
}

hr {
    margin: 20px 0;
}

h2 {
    margin: 15px 0 5px 0;
}

a {
    color: var(--branco);
}

.bg-white {
    background-color: white !important;
}

.badge {
    padding: 3px 2px 0px 2px;
    border-radius: 4px;
    text-align: center;
    background: #C7AC00;
    color: #222;
    float: right;
    font-family: Courier, monospace;
    font-weight: bold;
}

.email-text {
    color: #d62828;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7{width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }
    .container {
        margin: 0 5px;
    }

    h1 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 0.8rem;
    }

    .styled-table th,
    .styled-table td {
        padding: 4px 8px;
    }

    header img {
        display: none;
    }

    /* .badge { */
        /* float: none;
        display: flex; */
    /* } */

    .col-1  {width: 100%; clear: both;}
    .col-2  {width: 100%; clear: both;}
    .col-3  {width: 100%; clear: both;}
    .col-4  {width: 100%; clear: both;}
    .col-5  {width: 100%; clear: both;}
    .col-6  {width: 100%; clear: both;}
    .col-7  {width: 100%; clear: both;}
    .col-8  {width: 100%; clear: both;}
    .col-9  {width: 100%; clear: both;}
    .col-10  {width: 100%; clear: both;}
    .col-11  {width: 100%; clear: both;}
    .col-12  {width: 100%; clear: both;}
}